@import "../../responsive.scss";

.homePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;

  .imageStart {
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      font-family: Arial, sans-serif;
      font-size: 32px;
    }
    }
  .overStart {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-bottom: 50px;

    .textContainer {
      flex: 3;

      .wrapper {
        padding-top: 50px;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        height: 100%;

        @include lg {
          padding-right: 50px;
        }

        @include md {
          padding: 20;
        }

        @include sm {
          justify-content: flex-start;
        }

        .title {
          font-size: 64px;
          align-self: center;

          @include lg {
            font-size: 48px;
          }
        }

        .boxes {
          display: flex;
          justify-content: space-between;

          @include sm {
            display: none;
          }

          h1 {
            font-size: 36px;

            @include lg {
              font-size: 32px;
            }
          }

          h2 {
            font-size: 20px;
            font-weight: 300;
          }
        }
      }
    }

    .imgContainer {
      flex: 2;
      background-color: #fcf5f3;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;

      @include md {
        display: none;
      }

      .first {
        flex: 1;
        margin-bottom: 20px;
        img {
          width: 100%;
          position: absolute;
          right: 0;

          @include lg {
            width: 105%;
          }
        }
      }
      .second {
        flex: 1;
        margin-top: 20px;
        img {
          width: 100%;
          position: absolute;
          right: 0;

          @include lg {
            width: 105%;
          }
        }
      }
    }
  }
}
